
button{
height: 50px;
background-color: #00BCD4;
padding-left:50px;
padding-right:50px;
margin-top: 20px;
}
#section1{
  background-image: url(backg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.connie span{
  color:#00BCD4;
}
.milla span{
color:#00BCD4;
}
nav{
  position: fixed;
  background-color: white;
  width: 99%;
  margin-top: -40px;
  position: fixed;

}
ul li{
  display: block;
  line-height: 5.5em;
  text-decoration: none;

}
ul li a{
  text-decoration: none;
  color: #34495E;
}
ul{
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
}
ul li  a:hover{
  color:#00BCD4;
}
#section2{
display: flex;
padding-top: 2px;

}
#trolley img{
height: 20px;
}
#search img{
height: 20px;
}
#phone img{
height: 20px;
 margin-bottom: -5px;
}
#image1{
  margin-left: 400px;
display: flex;
}
.ima{
  display: flex;
}
#section1{
  text-align: center;
}
.subject{
margin-right: 600px;
}
.subject p{
  margin-right: 103px;

}
.subject h6{
color: black;
padding-top: 200px;
margin-bottom: -41px;
margin-right: 233px;
}
.subject h2{
color: #34495E;
font-size: 50px;
}
#wrapper1{
  margin:top 400px;
  margin-right: 665px;
}
.column img{
  height: 30px;
  margin-left: 80px;
}
#heading img{
  height: 30px;
  margin-left: 80px;
}
#gears img{
  height: 30px;
  margin-left: 80px;
}
.lee{
  background-color: #00BCD4;
  color: white;
  margin-bottom: 200px;
}
.zee{
background-color:#34495E;
color: white;
margin-bottom: 200px;
}
.columns{
  display: flex;
border: 1px solid white;
background-color: #f2f2f2;
justify-content: space-between;
bottom: 235px;
position: relative;
margin-top: 100px;
margin-right: 50px;
margin-left: 50px;
padding-left: 50px;
padding-right: 50px;
padding-top: 50px;
padding-bottom: 127px;

}
.columns p{
  line-height: 1.5em;
}
#liza {
text-align: center;
}
.liza img{
  bottom: 200px;
}
.uyo img{
  background-color: #3498DB;
  height: 20px;
}
.ollo img{
height: 20px;
background-color: #3498DB;
}
.mange img{
  height: 20px;
  background-color: #3498DB;
}
.liso img{
height: 20px;
background-color: #3498DB;
}
.aso img{
  height: 20px;
  background-color: #3498DB;
}
.imee img{
height: 20px;
background-color: #3498DB;
}
.paragraph{
  display: flex;
  text-align: center;
  justify-content:space-between;
margin-top: 80px;
padding-left: 100px;
padding-right: 53px;
padding-top: 10px;
}
.paragraph2{
  display: flex;
  text-align: center;
  justify-content:space-between;
margin-top: 40px;
padding-left: 100px;
padding-right: 53px;
}
.Rooi{
  background-image: url(zee.jpg);
  background-color: #080062;
  height: 100px;
  position: relative;
  bottom: 206px;
  padding-top: 20px;

}
.Rooi{
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  top:-115px;
}
.Rooi span{
   color: #00BCD4;
}
.Reety{
  text-align: center;
}
#school{
  text-align: center;
  color: #3498DB;
  height: 50px;
}
#cabanna{
display: flex;
text-align: center;
background-color: #f2f2f2;
}
.soso p{
background-color: white;
}
.name{
  transform: translateX(350px);
}
.name1{
transform: translateX(350px);
}
.soso img{
  border-radius: 500px;
  width: 50px;
}
.soso1 img{
  transform: translateX(-90px);
  border-radius: 500px;
  width: 50px;
  }
  .zizo {
    font-size: 20px;
  }
.yollah3 h6{
  position: relative;
  bottom: 53px;
}
.yollah2 h6{
  position: relative;
  bottom: 53px;
}
.yollah1 h6{
  position: relative;
  bottom: 53px;
}
.info {
  border: 1px solid grey;
margin-right: 20px;
margin-top: -27px;
}
.for {
  border: 1px solid grey;
margin-right: 20px;
margin-top: -27px;
}
.mation {
  border: 1px solid grey;
margin-top: -27px;
}
  .zizo{
    text-align: center;
    position: relative;
    bottom: 218px;
    top: -79px;;
  }
  .yollah3 img{
    margin-right: 20px;
  }
  .yollah1 img{
    margin-right: 20px;
  }
  .yollah{
  display: flex;
  }
  .yollah4{
    display: flex;
    margin-left: 89px;
    margin-right: 160px;
  }
  .yollah1 h3{
    margin-left: 20px;
    color: navy;
  }
  .yollah2 h3{
    margin-left: 20px;
    color: navy;
  }
.testimonies{
  background: #CCCCCC;
padding-top: 80px;
position: relative;
bottom: 227px;
top: -117px;
}
.testimonials{
  text-align: center;
}
.testimonials i{
  color: #3498DB;
}
.nancy-alex{
  display: flex;
  justify-content: space-around;
}
.nacy-container1{
  background-color: white;
  width: 400px;
}
.nacy-container1 p{
  padding: 15px;
  text-align: center;
}
.nancy-container2 img{
  width: 60px;
  border-radius: 500px;
}
.heading1{
  transform: translateX(80px) translateY(-70px);
}
.heading1 h4{
  font-size: 15px;
  color: navy;
}
.heading1 p{
  font-size: 15px;
  transform: translateY(-15px);
}
.alex-container1{
  background-color: #00BCD4;
  width: 400px;
}
.heading2{
  transform: translateX(80px) translateY(-70px);
}
.heading2 h4{
  font-size: 15px;
  color: navy;
}
.heading2 p{
  font-size: 15px;
  transform: translateY(-15px);
}
.alex-container1 p{
  padding: 15px;
  text-align: center;
}
.alex-container2 img{
  width: 60px;
  border-radius: 500px;
}
.bibo img{
width: 9px;
margin-left: -2px;
color: #00BCD4;
}
.bibo{
  margin-left:-191px;
}
    .yollah3 h3{
      margin-left: 20px;
      color: navy;
  }
  .yollah2 h6{
    color:#3498DB;
  }
  .yollah1 h6{
  color:#3498DB;
  }
.yollah3 h6 {
color:#3498DB;

  }
  #tsidi{
    text-align: center;
    padding-left: 150px;
  }
/* .loza1{
  background-image: url(maps.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 50%;
  height: 400px;
  } */
  .loza1-container{
      width: 50%;
    }
.loza1-container img {
  width: 100px;

}
#loza {
  display: flex;
  width: 100%;
  position: relative;
  bottom: 159px;
  top: 0px;
}
.loza1 img h4{

}
.loza2{
  background-color: white;
  text-align: center;
}
.apple1 {
  background-color: #34495E;
  width: 50%;
}
.apple1 h3{
  color: #00BCD4;
}
.apple1 span{
  color: white;
}
.apple2{
background-color: white;
}
.apple3{
  background-color: white;
}
.apple4{
background-color: white;
}
.content {
  margin-top: 25px;
}
#liza{
  bottom: 177px;
  position: relative;
  margin-top: 164px;
  margin-right: 50px;
  margin-left: 50px;
}
#liza h3{
  margin-top: -33px;
}

.apple5{
  width: 200px;
  background-color: #00BCD4;
}
#six{
background-color: #ECF0F1;
display: flex;
position: relative;
bottom: 161px;
justify-content: space-between;
top: 0px;
}
#footer{
    background-color:#34495E;
    display: flex;
    position: relative;
    bottom: 161px;
    top: 0px;
}
.connie{
  color: white;
  margin-left: 100px;
  margin-right: 5px;
  line-height: 1.5em;
  list-style: none;
}
.milla{
  margin-left: 200px;
  color: white;
position: relative;
bottom: 120px;
line-height: 1.5em;
list-style: none;
}
.Andy{
  margin-left: 50px;
  color: white;
}
.lilly{
  margin-left: 50px;
  color: white;
}

.orange1{
  color: white;
}
.orange2{
  color: white;
}
.footer1{
  display: flex;

}

.footer2 p{
  color: white;
}
.footer2 span{
  color: white;
}
.map-marker img{
  font-size: 10px;
}
.envelope img{
font-size: 10px;
}
.orange1{
  background-color:#34495E;
  height: 30px;

}
h4 span {
color: #00BCD4;
}
h4{
color: white;
}
.ima h2{
  margin-left: 170px;
}
h2{
  font-style: italic;
  margin-left: -6px;
  color: white;
}
.orange2{
  width: 190px;
  height: 30px;
}
.ima {
background-color: #1C3041;
position: relative;
bottom: 161px;
top:0px;
}
.header{
  margin: 0px;
}
.china  {
  margin-left: 220px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  color: white;
}
.facebook img{
background-color: #34495E;
margin-right: 1px;
padding-top:  10px;
padding-bottom: 10px;
padding-left:5px;
padding-right:5px;
}
.twitter img{
background-color: #34495E;
margin-right: 1px;
padding-top:  2px;
padding-top:  10px;
padding-bottom: 10px;
padding-left:5px;
padding-right:5px;
}
.google img{
background-color: #34495E;
padding-top:10px;
padding-bottom:3px;
padding-left:5px;
padding-right:5px;
}
